{% extends 'textbook_app/base_template.html' %}
{% block content %}
<h1>
    All the Books in the Database
</h1>
<ul>
    {% for book in books %}
        <li>
            <a href="{{ book.get_absolute_url }}">
                {{ book.title }}
            </a>
             by {{ book.author }}
        </li>
    {% endfor %}
</ul>
<a href="{% url 'book-search-google' %}" class="btn btn-primary">
    Import a Book (by ISBN)
</a>
<a href="{% url 'book-add' %}" class="btn btn-primary">
    Manually Add a New Book
</a>
{% endblock %}