{% extends 'textbook_app/base_template.html' %}

{% block content %}
  <h1>Books Currently Available</h1>
  <ul>
    {% if available_books %}
    {% for book in available_books %}
      <li>
        <a href="{% url 'book-detail' book.book.id %}">
          {{ book.book.title }}</a> by {{ book.book.author }}
          <br>     - Offered by: 
        <a href="{{ book.user.get_absolute_url }}">
          {{ book.user.name }}
        </a>
        <p>
      </li>
    {% endfor %}
    {% else %}
    <p>
      There are no available books.
    </p>
    {% endif %}
  </ul>
{% endblock %}

